body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 50px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: darkblue;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes ccspin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.spin {
  animation: spin 1s linear infinite;
}

.ccspin {
  animation: ccspin 1s linear infinite;
}
/* Style for the clickable word */
.clickable-word {
  color: inherit; /* Change the color of the last word (blue in this case) */
  text-decoration: none; /* Remove underline */
  cursor: pointer; /* Makes the word look clickable */
}
/* Optional: Style when the word is hovered */
.clickable-word:hover {
  text-decoration: underline; /* Adds underline on hover */
  color: #0056b3; /* Change the color when hovered */
}

.image-container {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: 15vh; /* Make the container fill the viewport height */
}
